/*CSS for all*/

/*Declaration variables*/
:root {
    --primary-1: #f2f2f2ff;
    --primary-2: #d9d9d9ff;

    --secondary-1: #6b6b6bff;
    --secondary-2: #4b4949ff;

    --white: #ffffff;
    --success-green: #5cb85c;
    --danger-red: #d9534f;

    /*    Gradient colors */
    --gradient-1: #ea5753;
    --gradient-2: #f1634f;
    --gradient-3: #f7704b;
    --gradient-4: #fb7d47;
    --gradient-5: #ff8a44;

    /*    Categories colors */
    --cat-grey: #d9d9d9;
    --subcat-grey: #f0f0f0;
}

ol,
ul {
    list-style: none;
}

a,
button {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
@media (max-width: 640px) {
    a {
        font-size: 10px;
    }
    .subcategory {
        text-indent: 10px;
    }
}

html {
    min-width: 350px;
    font-family: "Inter", "Open Sans", "Karla", sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media (min-width: 640px) {
        font-size: 0.5em;
    }
}

body:has(.no-scroll) {
    overflow-y: hidden;
}

body {
    margin: 0;
}

.mainscreen {
    height: 100vh;
    width: 100vw;
}

.container {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        to bottom,
        var(--gradient-1),
        var(--gradient-2),
        var(--gradient-3),
        var(--gradient-4),
        var(--gradient-5)
    );
    height: 100vh;
    font-size: 2vmin;
}

nav > div {
    padding: 8px 5px;
    text-indent: 20px;
}

.category {
    background-color: var(--cat-grey);
}

.subcategory {
    background-color: var(--subcat-grey);
    text-indent: 40px;
}
@media (max-width: 640px) {
    .subcategory {
        text-indent: 20px;
    }
}

.active {
    background-color: var(--white);
}

#logo {
    height: 200px;
}

#main {
    padding: 25px;
    margin: 0;
}

.msg-danger {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--danger-red);
}

.msg-success {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--success-green);
}
#navbar-button i {
    display: none;
}
#navbar-button h2 {
    display: none;
}

@media screen and (max-width: 425px) {
    .inactive {
        display: none;
    }
    .body {
        width: 100%;
    }
    .container {
        padding: 0;
    }
    #navbar-button {
        background-image: linear-gradient(
            to bottom,
            #ea5753,
            #f1634f,
            #f7704b,
            #fb7d47,
            #ff8a44
        );
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-bottom: 10px;
        opacity: 1;
        top: 0;
        z-index: 3;
    }
    #navbar-button i {
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    #navbar-button h2 {
        display: block;
        margin-bottom: 0px;
    }
    #main {
        padding-top: 40px;
        height: 100vh;
    }
    .actvated {
        display: block;
    }

    tbody td:first-child {
        z-index: 1;
        position: sticky;
        left: 0;
        background-color: white;
        align-content: center;
    }
    thead tr:first-child th {
        z-index: 2;
        position: sticky;
        top: 0;
        background-color: white;
    }
    thead tr:first-child th:first-child {
        z-index: 3;
        position: sticky;
        top: 0;
        left: 0;
    }
    td {
        padding-left: 15px;
    }
    .table-container {
        overflow-x: scroll;
        overflow-y: scroll;
        width: 100%;
        height: 70%;
    }
}