ol,
ul {
    list-style: none;
}

a,
button {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

html {
    min-width: 350px;
    font-family: "Inter", "Open Sans", "Karla", sans-serif;
    scroll-behavior: smooth;
}

body {
    --primary-1: hsl(0deg, 0%, 95%);
    --primary-2: hsl(0deg, 0%, 85%);

    --secondary-1: hsl(0deg, 0%, 42%);
    --secondary-2: hsl(0deg, 1%, 29%);

    min-height: 100vh;
    min-height: 100dvh;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body:has(.no-scroll) {
    overflow-y: hidden;
}

body {
    margin: 0;
}

.mainscreen {
    height: 100vh;
    width: 100vw;
}

.container {
    margin: 0;
}

navbar {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        to bottom,
        #ea5753,
        #f1634f,
        #f7704b,
        #fb7d47,
        #ff8a44
    );
    height: 100vh;
    font-size: 2vmin;
}

navbar > div {
    padding: 8px 5px;
    text-indent: 20px;
}

.category {
    background-color: #d9d9d9;
}

.subcategory {
    background-color: #f0f0f0;
    text-indent: 40px;
}

.active {
    background-color: #ffffff;
}

#logo {
    height: 200px;
}

#main {
    padding: 25px;
    margin: 0;
}

.msg-danger {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #d9534f;
}

.msg-success {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #5cb85c;
}
#navbar-button i {
    display: none;
}
#navbar-button h2 {
    display: none;
}

@media screen and (max-width: 550px) {
    navbar {
        display: none;
    }
    .body {
        width: 100%;
    }
    .container {
        width: 50px;
    }
    #navbar-button {
        background-image: linear-gradient(
            to bottom,
            #ea5753,
            #f1634f,
            #f7704b,
            #fb7d47,
            #ff8a44
        );
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-bottom: 10px;
        opacity: 1;
        top: 0;
        z-index: 3;
    }
    #navbar-button i {
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    #navbar-button h2 {
        display: block;
        margin-bottom: 0px;
    }
    #main {
        padding-top: 40px;
    }
}
